<style>
    body{
        background-color: brown;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
</style>

<h1>
    pagina sobre mi corazon para ella
</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo fuga reiciendis atque quo in. Hic, aspernatur, officiis corporis asperiores eveniet iure nostrum ipsum impedit amet aperiam, quod placeat eaque consequuntur!</p>