---
const tqm = "auraluz"
---
<style>
	body{
		background: antiquewhite;
	}
	.amor{
		align-items: center;
		background-color: antiquewhite;
		color: black;
		align-items: center;
		align-content: center;
	}
	.titulo{
		align-items: center;
		align-content: center;
		text-align: center;
	}
	p{
		background: rgb(255, 0, 43);
		color: rgb(255, 255, 255);
	}
	.cafe{
		align-items: center;
		align-content: center;
		margin: auto;
	}

</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<div class="amor">
		<h1 class="titulo">pagina de cariño {tqm}💕💕</h1>
		<p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi rerum alias velit sint necessitatibus. Quasi amet, dolores nihil suscipit quo id excepturi est tempora harum ad, et modi odit doloribus!</p>
		</div>
		<center>
			<img src="./public/img/cafe.jpg" alt="" class="cafe">
		</center>
		
	</body>
</html>
