---
interface Props {
    title?: string
    paragraph?: string
}
    const {title = "title default",paragraph = "paragraph defaul"} = Astro.props
---
<style>
    .card{
        background: rgb(120, 76, 76);
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        margin-bottom: 10px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
</head>
<body>
    <div class="card">
        <h1>{title}</h1>
        <p>{paragraph}</p>
    </div>
</body>
</html>