---
interface Props {
    pageTitle?: string
}
const {pageTitle} = Astro.props
---
<style>
    body{
    background: url("https://i.redd.it/95v7g28z3n171.png");
    text-align: center;
}

p{
    background: rgb(255, 0, 43);
    color: rgb(255, 255, 255);
}
.cafe{
    align-items: center;
    align-content: center;
    margin: auto;
}
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curso astro - {pageTitle}</title>
</head>
<body>
    
    <slot />

</body>
</html>